.form.survey .element.textarea label,
.form.survey .element.rank label {
	float: none;
}

.form.survey .element.rank ol {
	list-style-type: decimal;
	list-style-position: inside;
}

.form.survey .element.rank .col {
	width: 50%;
	float: left;
}
