body {
	background: #FFF;
	color: #333;
	font: 11pt/15pt 'Molengo', Century Gothic, Apple Gothic, sans-serif;
}

h1,
h2,
h3 {
	font-family: 'OFL Sorts Mill Goudy TT', arial, serif;
}

h1 {
	font-size: 3em;
	margin: .25em 0 .5em 0;
}

.survey {
	margin: 1em 0;
}

#overview {
	position: fixed;
	color: #fff;
	background: #0084c2;
	line-height: 1.5em;
	-moz-border-radius: .75em;
	border-radius: .75em;
}

.stripe {
	background: #84c200;
	padding: 1em;
	line-height: 1.65em;
	font-weight: 800;
}

#surveyPosition,
#surveyProgress {
	width: 100%;
}

#surveyPercent {
	text-align: center;
}

#surveyPercent .value {
	font-size: 2.6em;
}

#surveyPercent small {
	font-size: 1.5em;
}

#surveyUnresponded .value,
#surveyResponded .value {
	font-weight: bold;
}

.container_outer {
	padding-top: 1.5em;
}

.box {
	padding: .5em 1em;
}

.box dt {
	clear: both;
	float: left;
}

.box dd {
	float: right;
}

.item {
	padding: .25em .5em;
	border-top: 2px solid #0084c2;
}

.item.current {
	background: #FEEFB3;
}

.item.noResponse {
	background: #e2e2e2;
}

.question h4 {
	overflow: hidden;
}

.question .number {
	float: left;
	border-right: 4px solid #0084c2;
	text-align: right;
	width: 1.5em;
}

.question h4,
.question .number {
	padding: 0.25em .5em;
	font-size: 1.5em;
	font-weight: bold;
	line-heigth: 2em;
	font-family: 'Josefin Sans Std Light', arial, san-serif;
}
